@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Fonts **/
@font-face {
  font-display:swap;
  font-family:Articulat CF;
  font-style:normal;
  font-weight:400;
  src:url(fonts/52ce32a338a3057de64c3528a8571a7f.woff2) format("woff2") 
}
 @font-face {
  font-display:swap;
  font-family:Articulat CF;
  font-style:normal;
  font-weight:500;
  src:url(fonts/dae5654a2e5ffdaf0057259047ba7834.woff2) format("woff2")
 }
 @font-face {
  font-display:swap;
  font-family:Articulat CF;
  font-style:normal;
  font-weight:600;
  src:url(fonts/ac1dbc3a2cc16a39ee69152e60e7d608.woff2) format("woff2")
 }
 @font-face {
  font-display:swap;
  font-family:Articulat CF;
  font-style:normal;
  font-weight:700;
  src:url(fonts/4c25ad540087c6c91e1a512489228e10.woff2) format("woff2")
 }

body {
  font-family: 'Articulat CF', sans-serif;
}

/** Hello Animation **/

#hello {
  stroke-dasharray: 1859.777587890625;
  stroke-dashoffset: 1859.777587890625;
}

/** Gradient Animation **/

#eliot-link {
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
	height: 100vh;
  /* animated box shadow */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/** Big Text Animation **/
#big-text {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Contact Rainbow Button **/

/* button background is rainbow fading, along with drop shadow */
#contact-button {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}